/* Page Style */
:root {
    
    --toolbar-height: 2.5em;
}
html {
    height: 100%;
    overflow: hidden;
    /*scrollbar-width: none;*/
}
body {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Canvas */
canvas {
    position: relative;
    top: var(--toolbar-height);
    background-color: #fff;
    z-index: 0;
}

/* Text Boxes */
div.textbox {
    position: absolute;
    background-color: #fff;
    border: 0px dashed #eee;
    z-index: 2;
}

div.textbox:active {
    border: 1px dashed #eee;
}

/* Icons */
#sp_tool_btn_tray {
    position: fixed;
    float: left;
    top: 50%;
    width: 48px;
    height: auto;
    margin: 0;
    transform: translateY(-50%);
    z-index: 100000;
}
.sn_tool_btn {
    width: 48px;
    height: 48px;
    background-color: #ddd;
    border-radius: 50%;
    border: none;
    transition: .1s;
}

.sn_tool_btn:hover {
    background-color: #e5e5e5;
    transform: scale(1.1);
    transition: .1s;
}

.sn_tool_btn img {
    width: 80%;
    height: 80%;
    -moz-user-select: none;
}