/* Page Style */
:root {
    
    --toolbar-height: 2.5em;
}
html {
    height: 100%;
    overflow: hidden;
    /*scrollbar-width: none;*/
}
body {
    margin: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Canvas */
canvas {
    position: relative;
    top: var(--toolbar-height);
    background-color: #fff;
    z-index: 0;
}

/* Toolbar */
#toolbar {
    position: fixed;
    width: 100%;
    height: var(--toolbar-height);
    background-color: #eee;
    border-bottom: 1px solid gray;
    z-index: 1;
}

/* Icons */
button {
    position: sticky;
    float: left;
    margin: .5em 0em 0em 5em;

    width: 4em;
    height: 4em;
    background-color: #ddd;
    border-radius: 50%;
    border: none;
    transition: .1s;
}

button:hover {
    background-color: #e5e5e5;
    transform: scale(1.1);
    transition: .1s;
}

button img {
    width: 80%;
    height: 80%;
    -moz-user-select: none;
}